*{
    text-align: center;
}

body{
    overflow-y: scroll;
}

main, header{
    display: flex;
}

main{
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(white, #e7e7e7);
    padding: 0;
    color: black;
    width: 100vw;
    height: 70vh;
}


.accentBg{
    background-image: linear-gradient(black, #171717);
    color: white;
}


.normalText{
    color: transparent;
    background-image: linear-gradient(black, #171717);
    -webkit-background-clip: text;
    background-clip: text;
}

.imageSect{
    width: 40vw;
}

.textSect{
    width: 60vw;
}

.imageSect, .textSect{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 275%;
}

p{
    font-size: 225%;
    margin: 0;
}

#mainSect, .textSect{
    flex-direction: column;
    padding: 0;
}

img{
    height: 55vh;
    width: 30vw;
    border: 1vw solid transparent;
    background-image: linear-gradient(black, #171717);
    border-image-slice: 1;
}

#accentImg{
    background-image: linear-gradient(white, #e7e7e7);
    border-image-slice: 1;
}

.buttonDiv{
    border: 0.5vw solid black;
    border-radius: 5vw;
    margin-top: 4.5vw;
    padding: 0.5vw 2vw;
}

a{
    text-decoration: none;
    font-size: 150%;
}

#redLink{
    color: #b34e3a;
}

#redButton{
    border-color: #b34e3a;
}

#yellowLink{
    color: #f1d99d;
}

#yellowButton{
    border-color: #f1d99d;
}

#blueLink{
    color: #0b72a6;
}

#blueButton{
    border-color: #0b72a6;
}