body{
    overflow-y: hidden;
}

#scratchOff{
    width: 70vw;
}

#winners{
    width: 30vw;
}

#winners, #scratchOff{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80vh; 
}

main{
    flex-direction: row;
    background-image: linear-gradient(#eef4f2, #a8e0e2);
}

#scratchOffBox{
    width: 60vw;
    align-items: center;
}


#winBox{
    width: 20vw;
}

section{
    background-image: linear-gradient(#1f3434, #2f5d53);
    height: 40vw;
    border-radius: 3vw;
    padding: 1vw;
}
.cellContainer{
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: center;
}

.cell, .hidden{
    margin: 1vw 3.5vw;
    width: 8vw;
    height: 8vw;
    border-radius: 1.5vw;
    background-size: cover;
}

.hidden{
    visibility: hidden;
    background-image: linear-gradient(#eef4f2, #a8e0e2);
}



h2{
    font-size: 197%;
}