body{
    overflow-y: hidden;
}

#scratchOff{
    width: 70vw;
}

#winners{
    width: 30vw;
    flex-direction: column;

}

#winners, #scratchOff{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80vh; 
}

main{
    flex-direction: row;
    background-image: linear-gradient(white, #e7e7e7);
}

#scratchOffBox{
    width: 50vw;
    height: 67vh;
    justify-content: flex-start;
}


#winBox{
    width: 20vw;
    height: 50vh;
    flex-direction: column;
    justify-items: center;
}

section{
    background-image: linear-gradient(black, #171717);
    border-radius: 3vw;
    padding: 1vw;
}
.cellContainer{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 17vh;
    justify-content: space-evenly;
    margin: 0;

}

.cell{
    text-align: center;
    
}

.cell, .hidden{
    margin: 1vw 1vw;
    width: 7vw;
    height: 12.75vh;
    border-radius: 1.5vw;
    background-size: cover;
}

.hidden{
    background-image: linear-gradient(white, #e7e7e7);
}



h2{
    font-size: 155%;
    margin: 0;
}

.buttonDiv{
    border: 0.5vw solid white;
    border-radius: 5vw;
    margin-top: 5vh;
    padding: 0.5vw 2vw;
}

#otherButton{
   border: 0.5vw solid black; 
}

a{
    text-decoration: none;
    color: white;
}

#popup{
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 3vw;
  border: 0.5vw solid white;
  position: fixed;
  text-align: center;
  font-size: 155%;
  padding: 3vh 5vw;
  justify-self: center;
  top: 40%;
  align-self: center;
}

#winBox, #scratchOffBox{
    box-shadow: 2vh 2vh 2vh #d1d1d1;
}